extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 About Me
        p I'm a Full Stack Software Engineer striving to build modern, scalable, accessible apps with quality front of mind.
        .about-bio
          p I am currently based in Sydney, Australia. By day I work on the streaming service website #[a(href="https://www.sbs.com.au/ondemand") SBS On Demand] which serves 11,000+ hours of content to over 10 million registered users.
          p In my spare time I am currently learning how to play tennis, run (also in training for a half marathon) and enjoy most things fitness and food.
      .skills-contact-box.box
        h6 Skills
        ul
          li JavaScript
          li TypeScript 
          li Cypress
          li Node.js
          li Express
          li Web Accessibility
          li React
          li PHP
          li Agile Delivery 
          li Charles Proxy 

        h6 Contact Info
        a.btn-link(href='mailto:alex.hipolito@outlook.com') Email
        a.btn-link(href='https://www.linkedin.com/in/alexhippo/') LinkedIn
        a.btn-link(href='https://github.com/alexhippo') GitHub
        a.btn-link(href='https://www.strava.com/athletes/45427013') Strava
    nav.nav
      a(href='/')
        span &larr;
        |  Back