extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back To Home

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Alex Hipolito
        p I'm a Full Stack Web Developer based in Sydney, Australia with over 7 years of experience in coding, <s>breaking</s>testing and delivering core features to apps millions of Australians use everyday.
        .about-bio
          p By day, I code bugfixes and test automation scripts throughout the stack. My extensive technical, product and agile delivery skills help me to identify and solve problems through code.
          p By night, I take online courses to help me improve as a Developer and enjoy tinkering with side projects to put what I've learned into practice. I am currently undertaking the <a href="https://teamtreehouse.com/techdegree/full-stack-javascript" target="_blank">Treehouse Full Stack Javascript Techdegree.</a>
          p Outside of digital life you can find me either running, lifting, playing tennis or baking (Banana Bread is my specialty!)
      .skills-contact-box.box
        h6 Skills
        ul
          li JavaScript
          li HTML, CSS
          li Web Accessibility
          li Object-Oriented Programming
          li Fetch and Public APIs
          li Node.js
          li Express
          li Cypress
          li TypeScript
          li React
          li PHP
          li Agile Delivery 
          li Charles Proxy 
          li Wireshark 

        h6 Contact Info
        ul
          li 555-555-1234
          li alex.hipolito@outlook.com
        a.btn-link(href='https://www.linkedin.com/in/alexhippo/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/alexhippo' target="_blank") GitHub
    nav.nav
      a(href='/')
        span &larr;
        |  Back To Home