extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 About Me
        p I'm a Front End Software Engineer striving to build modern, scalable, accessible apps with quality front of mind.
        .about-bio
          p I am currently based in Sydney, Australia. By day I work on the streaming service website #[a(href="https://www.sbs.com.au/ondemand") SBS On Demand] which serves 15,000+ hours of content to over 10 million registered users.
          p I have previously held roles as a QA Engineer, Business Analyst, Product Owner and Scrum Master, so I know a little bit about the Agile Software Development world :) Prior to working in Broadcast Media, I worked in Financial Services and Tech companies. 
          p In my spare time I enjoy running, playing piano and spending time with my cat, Mr. Darcy.
      .skills-contact-box.box
        h6 Skills
        ul
          li JavaScript
          li TypeScript 
          li Cypress
          li React
          li Web Accessibility
          li Express
          li Node.js
          li Agile Delivery 
          li Charles Proxy 

        h6 Contact Info
        a.btn-link(href='mailto:alex.hipolito@outlook.com') Email
        a.btn-link(href='https://www.linkedin.com/in/alexhippo/') LinkedIn
        a.btn-link(href='https://github.com/alexhippo') GitHub
    nav.nav
      a(href='/')
        span &larr;
        |  Back