extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back To Home

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Alex Hipolito

        //- Feel free to personalize the title below
        p I'm a Web Developer and QA Engineer based in Sydney, Australia with over 7 years of experience in coding, <s>breaking</s>testing and delivering core features to apps millions of Australians use everyday.


        .about-bio
          //- Replace the boilerplate below with your best elevator pitch
          p By day, I design, code and maintain end-to-end and integration test automation scripts. I also use my technical skills, product knowledge and agile delivery experience to investigate and recommend solutions to incidents and customer problems. I am also an advocate for Web Accessibility. Whenever I have a spare moment, I even fix bugs.
          p By night, I take online courses to help me improve as a Developer and enjoy tinkering with side projects to put what I've learned into practice. I am currently undertaking the Treehouse Full Stack Javascript Techdegree.
          p Outside of digital life you can find me either running, lifting, playing tennis or baking (Banana Bread is my specialty!)


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li JavaScript
          li HTML, CSS
          li Web Accessibility
          li Object-Oriented Programming
          li Fetch and Public APIs
          li Node.js
          li Express
          li Cypress
          li TypeScript
          li React
          li PHP
          li Agile Delivery 
          li Charles Proxy 
          li Wireshark 

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li 555-555-1234
          li alex.hipolito@outlook.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com/in/alexhippo/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/alexhippo' target="_blank") GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back To Home