extends layout.pug

block content
  article.portfolio-intro
    h1 Hi, I'm Alex. 
      span(role="img", aria-label="waving hand") &#128075; 
    p I build accessible, high quality apps and sites for the web. Here are some of my recent personal projects.
  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`Thumbnail of ${project.project_name}`)
            h5 #{project.project_name}

