<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Alex Hipolito | Full Stack Web Developer based in Sydney, Australia
    link(href='https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik:wght@400;800&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')
    
    //- Not a starter comment - this is to add a Favicon from Favicon.io
    link(rel='apple-touch-icon', href='/static/images/apple-touch-icon.png', sizes="180x180")
    link(rel="icon", type="image/png", sizes="32x32", href="/static/images/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/static/images/favicon-16x16.png")
    link(rel="manifest", href="/static/images/site.webmanifest")

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/images/profilepic.jpg', alt='Profile picture of Alex Hipolito')
        .dev-intro-box
          h5 Alex Hipolito
          p Full Stack Web Developer based in Sydney, Australia with industry experience in Media and Video Streaming Services.
          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')
          span Alex Hipolito

      block content

  script(src='/static/js/script.js')